@font-face{
    font-family: "Comfortaa";
    src: url(../fonts/Comfortaa-Regular.ttf) format("truetype");
    font-weight: 400;
}
@font-face{
    font-family: "Comfortaa";
    src: url(../fonts/Comfortaa-Bold.ttf) format("truetype");;
    font-weight: 700;
}
@font-face{
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Regular.ttf) format("truetype");;
    font-weight: 400;
}
@font-face{
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Medium.ttf) format("truetype");;
    font-weight: 500;
}
@font-face{
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-SemiBold.ttf) format("truetype");;
    font-weight: 600;
}
@font-face{
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Bold.ttf) format("truetype");;
    font-weight: 700;
}
@font-face{
    font-family: "Roboto";
    src: url(../fonts/Roboto-Black.ttf) format("truetype");;
    font-weight: 900;
}
@font-face{
    font-family: "Roboto";
    src: url(../fonts/Roboto-Light.ttf) format("truetype");;
    font-weight: 300;
}
@font-face{
    font-family: "Roboto";
    src: url(../fonts/Roboto-Medium.ttf) format("truetype");;
    font-weight: 500;
}
@font-face{
    font-family: "Roboto";
    src: url(../fonts/Roboto-Regular.ttf) format("truetype");;
    font-weight: 400;
}
@font-face{
    font-family: "Poppins";
    src: url(../fonts/Poppins-Medium.ttf) format("truetype");;
    font-weight: 500;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}
input, textarea {outline:none;} input:active, textarea:active {outline:none;} :focus {outline:none;} textarea {resize:none;} textarea {resize:vertical;} textarea {resize:horizontal;}



/*HEADER*/
.ModalBody header{
    background-image: url(../images/Register/HeaderBgModalForms.png);
    height: 405px;
    width: 1920px;
}
.ModalBody header .HeaderDiv{
    display: flex;
    padding: 0 352px;
    justify-content: space-between;
    height: 162px;
    align-items: center;
}
.ModalBody header .HeaderDiv a{
    color: white;
}
.ModalBody header div a{
    transition: 0.35s all;
    color: white;
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    font-size: 20px;
}
.ModalBody header div div a{
    text-transform: uppercase;
    display: flex;
    width: 132px;
    height: 39px;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    border-radius: 30px;
    font-family: "Poppins", sans-serif;
    transition: 0.55s all;
    font-size: 13.5px;
    font-weight: 500;
}
.ModalBody header div div{
    display: flex;
}
.ModalBody header div div a:hover{
    background-color: white;
    color: #bb6df3;
}



/*FOOTER*/
footer{
    height: 1086px;
    width: 1920px;
    background-image: url(../images/index/FooterBg.png);
    padding: 418px 185px 0 135px;
    font-family: "Comfortaa", sans-serif;
    color: white;
    text-align: center;
}
footer .ThreeFootersH2{
    display: flex;
    justify-content: space-between;
    margin-right: 132px;
    text-align: left;
}
footer .FooterH2{
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 70px;
}
footer .WhenUseSkyBox{
    width: 418px;
    line-height: 150%;
    font-weight: 400;
    font-size: 20px;
}
footer ul{
    display: flex;
    flex-direction: column;
}
footer ul li{
    list-style-type: none;
    margin-bottom: 28px;
}
footer ul a{
    text-decoration: underline;
    color: white;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    transition: 0.5s all;
}
footer ul a:hover{
    transform: scale(1.08);
    color: #ffffff;
}
footer .ContactUsFooter p{
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 30px;
}
footer img{
    margin-top: 79px;
    margin-bottom: 65px;
}
footer .Copyright{
    font-size: 24px;
    font-weight: 700;
}



/*INDEX__HTML*/
.IndexHTML header{
    width: 1920px;
    height: 162px;
    display: flex;
    padding: 0 352px;
    justify-content: space-between;
}
.IndexHTML header a{
    transition: 0.35s all;
    color: white;
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    font-size: 20px;
}
.IndexHTML header div a{
    text-transform: uppercase;
    display: flex;
    width: 132px;
    height: 39px;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    border-radius: 30px;
    font-family: "Poppins", sans-serif;
    transition: 0.55s all;
    font-size: 13.5px;
    font-weight: 500;
}
.IndexHTML header div{
    display: flex;
}
.IndexHTML header div a:hover{
    background-color: white;
    color: #bb6df3;
}
.IndexHTML header{
    align-items: center;
}
.IndexHTML .section1{
    background: url(../images/index/Sec1Bg.png) no-repeat center center / cover;
}
.IndexHTML .s1__FULL{
    height: 890px;
    width: 1920px;
}
.LogoName{
    text-transform: uppercase;
    font-family: "Comfortaa", sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: white;
    display: flex;
}
a{
    text-decoration: none;
}
a:hover{
    transform: scale(1.1);
    transform: rotate(3deg);
}
.IndexHTML .s1__FULL{
    padding: 128px 0 0 352px;
}
.IndexHTML .s1__FULL .Button{
    width: 308px;
    height: 79px;
    background: url(../images/index/ButtonSec1.png) no-repeat center center / cover;
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
    font-weight: 700;
    line-height: 26.76px;
    font-size: 24px;
    font-family: "Comfortaa", sans-serif;
}
.IndexHTML .s1__FULL h2{
    font-size: 72px;
    font-weight: 900;
    color: #3b668d;
    text-transform: uppercase;
    width: 507px;
    line-height: 97%;
    margin-bottom: 9px;
}
.IndexHTML .s1__FULL .MoreInfo:hover{
    transform: scale(1.1);
}
.IndexHTML .s1__FULL a{
    transition: 0.5s all;
}



.Mont{
    font-family: "Montserrat";
}
.Poppins{
    font-family: "Poppins";
}
.Roboto{
    font-family: "Roboto";
}
.Comfort{
    font-family: "Comfortaa";
}



/*SECTION2*/
.IndexHTML .s2__FULL{
    display: flex;
    height: 1167px;
    width: 1920px;
    padding-top: 60px;
}
.IndexHTML .s2__FULL div img{
    margin-right: 25px;
    width: 93px;
    height: 90px;
}
.IndexHTML .s2__FULL div div{
    margin-bottom: 40px;
}
.IndexHTML .s2__FULL div div h4{
    margin-top: 7px;
    width: 441px;
}
.IndexHTML .s2__FULL div div p{
    color: #2b4964;
    line-height: 150%;
    font-size: 18px;
}



/*SECTION3*/
.IndexHTML .s3__FULL{
    text-align: center;
    height: 1279px;
    width: 1920px;
}
.IndexHTML .s3__FULL h2{
    margin-bottom: 23px;
}
.IndexHTML .s3__FULL .FirstPSec3{
    color: #79788f;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 20px;
}
.IndexHTML .s3__FULL div div .MemberShipFirstCard{
    transition: 0.3s all;
    border-radius: 20px;
    background-color: white;
    width: 450px;
    height: 808px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.IndexHTML .RowSec3Div{
    display: flex;
    margin-top: 76px;
}
.IndexHTML .s3__FULL div div div:hover{
    filter: drop-shadow(0px 13px 27px rgba(0, 0, 0, 0.1));
    cursor: pointer;
    height: 1002px;
    width: 520px;
}

.IndexHTML .s3__FULL div div ul li{
    font-family: "Comfortaa", sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #567796;
    list-style-type: none;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 47px;
}
.IndexHTML .s3__FULL div div ul li::after{
    content: url(../images/index/check.svg);
    width: 20px;
    height: 17px;
}
.IndexHTML .s3__FULL div div ul{
    align-self: center;
    width: 308px;
}
.IndexHTML .s3__FULL div div .Sec3Button{
    width: 0.5px;
    height: 0.5px;
    color: transparent;
    background-color: transparent;
    transition: 0.4s all;
}
.IndexHTML .s3__FULL div div .MoneyBack{
    font-size: 0.5px;
    color: transparent;
    transition: 0.4s all;
}
.IndexHTML .s3__FULL div div div:hover .Sec3Button{
    width: 308px;
    height: 79px;
    color: white;
    background: linear-gradient(90deg, #43A1D6 0%, #907EFF 100%);
    border-radius: 62px;
    font-family: "Comfortaa", sans-serif;
    font-size: 24px;
    font-weight: 700;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.IndexHTML .s3__FULL div div div:hover .MemberShipTopFirst{
    width: 450px;
}
.IndexHTML .s3__FULL div div div .MemberShipTopFirst{
    width: 291px;
    transition: 0.4s all;
    height: 140px;
}
.IndexHTML .s3__FULL div div div .MemberShipTopSecond{
    width: 457px;
    transition: 0.4s all;
    height: 247px;
}
.IndexHTML .s3__FULL div div div:hover .MoneyBack{
    font-size: 18px;
    font-weight: 400;
    color: #567796;
    font-family: "Comfortaa", sans-serif;
    margin-top: 47px;
}
.IndexHTML .s3__FULL .MemberShipThirdCard{
    transition: 0.3s all;
    border-radius: 20px;
    background-color: white;
    width: 450px;
    height: 808px;
    display: flex;
    flex-direction: column;
    justify-content: right;
}
.IndexHTML .s3__FULL div div div:hover .MemberShipTopThird{
    height: 351px;
}
.MemberShipTopThird{
    height: 351px;
}



/*SECTION4*/
.s4__FULL{
    width: 1920px;
    height: 261px;
    background: url(../images/index/Sec4Bg.png);
    margin-top: 200px;
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
}
.s4__FULL .Icons{
    display: flex;
}
.s4__FULL .Icons .IconDownloaded{
    width: 106px;
    height: 106px;
    margin-right: 30px;
}
.s4__FULL .Icons .Registered{
    width: 74px;
    height: 74px;
    margin: 16px 35px 0 106px;
}
.s4__FULL .Icons p{
    font-family: "Comfortaa", sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-top: 16px;
    color: #718dc2;
}
.s4__FULL .Icons h3{
    font-family: "Comfortaa", sans-serif;
    font-size: 42px;
    font-weight: 700;
    margin-top: 16px;
    color: #425B8C;
}
.s4__FULL .Icons img{
    animation: scale;
    animation-duration: 3s; 
    animation-iteration-count: infinite;
}
@keyframes scale {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}



/*CONTACT__S1*/
.ContactHTML{
    text-align: center;
}
.ContactHTML .s1__FULL{
    margin-top: -85px;
    height: 1044px;
    width: 1920px;
}
.ContactHTML .s1__FULL h2{
    font-size: 72px;
    color: #3b668d;
    letter-spacing: 0.405em;
    font-weight: 900;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
}
.ContactHTML .s1__FULL p{
    letter-spacing: 0.905em;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    font-family: "Montserrat", sans-serif;
    margin-top: 15px;
    margin-bottom: 85px;
    color: #3b668d;
}



/*CONTACT__S2*/
.ContactHTML .s2__FULL{
    width: 1920px;
    height: 1000px;
    background: url(../images/contact/Sec2BgContact.png) no-repeat center center / cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 145px;
    font-family: "Comfortaa", sans-serif;
}
.ContactHTML .DropUsAline{
    font-size: 72px;
    color: #3b668d;
    font-weight: 700;
    line-height: 80px;
    margin-bottom: 29px;
}
.ContactHTML .Sec2Lorem{
    font-size: 30px;
    color: #79788f;
    font-weight: 400;
    margin-bottom: 79px;
}
.ContactHTML .EmailContactHtml{
    width: 630px;
    height: 100px;
    background-color: #f3f3f3;
    border-radius: 61px;
    color: #adadad;
    font-size: 24px;
    font-weight: 700;
    padding-left: 57px;
    outline: none;
    border: 0px;
    margin-bottom: 20px;
}
.ContactHTML .NameContactHtml{
    width: 630px;
    height: 100px;
    background-color: #f3f3f3;
    border-radius: 61px;
    color: #adadad;
    font-size: 24px;
    font-weight: 700;
    padding-left: 57px;
    outline: none;
    border: 0px;
    margin-bottom: 20px;
}
.ContactHTML .NameContactHtml::-webkit-input-placeholder{
    color: #adadad;
    font-size: 24px;
    font-weight: 700;
}
.ContactHTML .EmailContactHtml::-webkit-input-placeholder{
    color: #adadad;
    font-size: 24px;
    font-weight: 700;
}
.ContactHTML .BeforeInputP{
    color: #3b3f8d;
    font-size: 24px;
    font-weight: 700;
    margin-right: 45px;
}
.ContactHTML .s2__FULL div{
    display: flex;
    align-items: center;
    align-self: center;
}
.ContactHTML .s2__FULL textarea{
    width: 749px;
    height: 273px;
    align-self: center;
    padding: 30px;
    outline: none;
    border-radius: 50px;
    background-color: #f3f3f3;
    color: #adadad;
    font-size: 24px;
    font-weight: 700;
    resize: none;
    border: 0px;
    margin-bottom: 20px;
}
.ContactHTML .s2__FULL textarea::-webkit-input-placeholder{
    color: #adadad;
}
.ContactHTML .s2__FULL div a{
    background: linear-gradient(90deg, #43A1D6 0%, #907EFF 100%);
    border-radius: 62px;
    width: 250px;
    height: 79px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    font-weight: 700;
    transition: 0.5s all;
    margin-left: 155px;
}
.ContactHTML .s2__FULL div .WeDont{
    font-size: 18px;
    font-weight: 700;
    color: #adadad;
}



/*FAQ__S1*/
.FAQHTML .s1__FULL{
    height: 1545px;
    width: 1920px;
    background: url(../images/FAQ/BackGroundN.png) no-repeat;
    margin-top: -160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.FAQHTML .s1__FULL .DivWithMinus{
    text-align: left;
    display: flex;
    width: 1200px;
    height: 87px;
    align-items: center;
    padding: 0 40px 0 54px;
    justify-content: space-between;
    margin-bottom: 13px;
}
.FAQHTML .s1__FULL .DivWithMinus h5{
    font-weight: 700;
    font-size: 30px;
    font-family: "Comfortaa", sans-serif;
    color: #46637e; 
}
.FAQHTML .s1__FULL .B2E3{
    background: linear-gradient(90deg, #B2E3FF 0%, #DFBFFF 100%);
}
.FAQHTML .s1__FULL .B2E4{
    background: linear-gradient(90deg, #B2E4FF 0%, #DFBFFF 100%);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.FAQHTML .s1__FULL .FirstPSec3{
    color: #3b668d;
    font-size: 24px;
    font-weight: 400;
    line-height: 150%;
    text-transform: uppercase;
    letter-spacing: 0.905em;
    margin: 15px 0 124px 0;
}
.FAQHTML .s1__FULL h2{
    text-transform: uppercase;
    color: #3B668D; 
    font-size: 72px; 
    font-weight: 900; 
    letter-spacing: 0.405em; 
    font-family: "Roboto", sans-serif;
    margin-top: 80px;
}
.FAQHTML .PlusMinusDiv{
    background: url(../images/FAQ/Plus.png) no-repeat center center / cover;
    width: 31px;
    height: 31px;
}
.FAQHTML .AllTheQuestion{
    display: flex;
    flex-direction: column;
}
.FAQHTML .AllTheQuestion:hover .Answer{
    width: 1103px;
    margin: 40px auto;
    text-align: left;
    font-size: 20px;
    font-family: "Comfortaa", sans-serif;
    font-weight: 400;
    color: #878787;
    transition: 0.5s all;
}
.FAQHTML .AllTheQuestion:hover .DivWithMinus{
    background: linear-gradient(90deg, #B1E3FF 0%, #DFBEFF 100%);
    cursor: pointer;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transition: 0.5s all;
}
.FAQHTML .AllTheQuestion:hover .PlusMinusDiv{
    background: url(../images/FAQ/Minus.png) no-repeat center center / cover;
    width: 31px;
    height: 2px;
}
.FAQHTML .Answer{
    text-align: left;
    font-size: 0.5px;
    margin: 0 auto;
    width: 1103px;
    font-family: "Comfortaa", sans-serif;
    color: transparent;
    transition: 0.5s all;
}



/*Login__S1*/
.LoginHTML .s1__FULL{
    height: 1310px;
    width: 1920px;
    background: url("../images/Login/BackGroundN.png") no-repeat;
    margin-top: -160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.LoginHTML .s1__FULL h2{
    text-transform: uppercase;
    color: #3B668D; 
    font-size: 72px; 
    font-weight: 900; 
    letter-spacing: 0.405em; 
    font-family: "Roboto", sans-serif;
    margin-top: 80px;
}
.LoginHTML .s1__FULL .FirstPSec3{
    color: #3b668d;
    font-size: 24px;
    font-weight: 400;
    line-height: 150%;
    text-transform: uppercase;
    letter-spacing: 0.905em;
    margin: 15px 0 124px 0;
}
.LoginHTML .Sec1Cont{
    display: flex;
    flex-direction: column;
}
.Sec1ContTx1{
    font-family: 'Comfortaa';
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
    color: #3B3F8D;
    width: 80px;
    margin-top: 40px;
}
.Sec1ContTx2{
    font-family: 'Comfortaa';
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
    color: #3B3F8D;
    margin-right: 30px;
}
.s1__FUUL{
    display: flex;
}
.Sec1Cont p:first-child{
    margin-bottom: 100px;
    margin-left: 40px;
}
.Sec1Cont input:first-child{
    margin-top: 4px;
    margin-bottom: 30px;
    margin-right: 10px;
}
.Sec1Cont input{
    width: 630px;
    height: 100px;
    background: #F3F3F3;
    border-radius: 61px;
    display: flex;
    align-items: center;
    padding-left: 40px;
    margin-right: 40px;
    border: 0px;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #ADADAD;
}
.Sec1Cont input::placeholder{
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #ADADAD;
}
.LoginHTML .s1__FULL .Login__button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 79px;
    background: linear-gradient(90deg, #43A1D6 0%, #907EFF 100%);
    border-radius: 62px;
    transition: 500ms;
    margin-left: 60px;
    margin-top: 50px;
}
.LoginHTML .s1__FULL .Login__button p{
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
    color: white;
}
.LoginHTML .s1__FULL a:last-child{
    margin-left: 60px;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #ADADAD;
    margin-top: 40px;
    transition: 500ms;
}



/*PRICE__S1*/
.PriceHTML .s2__FULL{
    text-align: center;
    height: 1279px;
    width: 1920px;
}
.PriceHTML .s2__FULL h2{
    margin-bottom: 23px;
}
.PriceHTML .s2__FULL .FirstPSec3{
    color: #3b668d;
    font-size: 24px;
    font-weight: 400;
    line-height: 150%;
    text-transform: uppercase;
    letter-spacing: 0.905em;
}
.PriceHTML .s2__FULL div div .MemberShipFirstCard{
    transition: 0.3s all;
    border-radius: 20px;
    background-color: white;
    width: 450px;
    height: 808px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.PriceHTML .RowSec3Div{
    display: flex;
    margin-top: 156px;
}
.PriceHTML .s2__FULL div div div:hover{
    filter: drop-shadow(0px 13px 27px rgba(0, 0, 0, 0.1));
    cursor: pointer;
    height: 1002px;
    width: 620px;
}
.PriceHTML .s2__FULL div div ul li{
    font-family: "Comfortaa", sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #567796;
    list-style-type: none;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 47px;
}
.PriceHTML .s2__FULL div div ul li::after{
    content: url(../images/index/check.svg);
    width: 20px;
    height: 17px;
}
.PriceHTML .s2__FULL div div ul{
    align-self: center;
    width: 308px;
}
.PriceHTML .s2__FULL div div .Sec3Button{
    width: 0.5px;
    height: 0.5px;
    color: transparent;
    background-color: transparent;
    transition: 0.4s all;
}
.PriceHTML .s2__FULL div div .MoneyBack{
    font-size: 0.5px;
    color: transparent;
    transition: 0.4s all;
}
.PriceHTML .s2__FULL div div div:hover .Sec3Button{
    width: 308px;
    height: 79px;
    color: white;
    background: linear-gradient(90deg, #43A1D6 0%, #907EFF 100%);
    border-radius: 62px;
    font-family: "Comfortaa", sans-serif;
    font-size: 24px;
    font-weight: 700;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.PriceHTML .s2__FULL div div div:hover .MemberShipTopFirst{
    width: 450px;
}
.PriceHTML .s2__FULL div div div .MemberShipTopFirst{
    width: 291px;
    transition: 0.4s all;
    height: 140px;
}
.PriceHTML .s2__FULL div div div .MemberShipTopSecond{
    width: 457px;
    transition: 0.4s all;
    height: 247px;
}
.PriceHTML .s2__FULL div div div:hover .MoneyBack{
    font-size: 18px;
    font-weight: 400;
    color: #567796;
    font-family: "Comfortaa", sans-serif;
    margin-top: 47px;
}
.PriceHTML .s2__FULL .MemberShipThirdCard{
    transition: 0.3s all;
    border-radius: 20px;
    background-color: white;
    width: 450px;
    height: 808px;
    display: flex;
    flex-direction: column;
    justify-content: right;
}
.PriceHTML .s2__FULL div div div:hover .MemberShipTopThird{
    height: 351px;
}
.PriceHTML .MemberShipTopThird{
    height: 351px;
}



/*PROFILE__S1*/
.ProfileHTML .s1__FULL{
    width: 1920px;
    height: 1720px;
    background: url(../images/Profile/BackGroundN.png) no-repeat;
    margin-top: -160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.ProfileHTML .s1__FULL div .BorderDivProfile{
    display: flex;
    width: 313px;
    height: 164px;
    background: #FFFFFF;
    border: 2px solid #F0F0F0;
    border-radius: 10px;
    align-items: center;
    margin: 0 71px; 
}
.ProfileHTML .s1__FULL div{
    display: flex;
    align-items: center;
}
.ProfileHTML .s1__FULL .AllProfileDivs{
    display: flex;
    flex-wrap: wrap;
    margin: 100px -71px;
}
.ProfileHTML .PinkText{
    font-weight: 400;
    font-size: 24px;
    color: #f36dd4;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
}
.ProfileHTML .BlueText{
    font-weight: 400;
    font-size: 18px;
    color: #3b668d;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
}
.ProfileHTML .s1__FULL div img{
    width: 114px;
    height: 124px;
    margin-left: 20px;
}
.ProfileHTML .s1__FULL div div div{
    display: flex;
    flex-direction: column;
}
.ProfileHTML .s1__FULL h2{
    text-transform: uppercase;
    color: #3B668D; 
    font-size: 72px; 
    font-weight: 900; 
    letter-spacing: 0.405em; 
    font-family: "Roboto", sans-serif;
    margin-top: 80px;
}
.ProfileHTML .s1__FULL .FirstPSec3{
    color: #3b668d;
    font-size: 24px;
    font-weight: 400;
    line-height: 150%;
    text-transform: uppercase;
    letter-spacing: 0.905em;
    margin-top: 15px;
}
.ProfileHTML .s1__FULL input[type="email"]{
    width: 736px;
    height: 100px;
    margin-bottom: 20px;
    border: 0px;
    outline: none;
    background-color: #f3f3f3;
    color: #adadad;
    font-size: 24px;
    font-weight: 700; 
    border-radius: 61px;
    padding-left: 40px;
    padding-right: 260px;
    font-family: "Comfortaa", sans-serif;
}
.ProfileHTML .s1__FULL input[type="password"]{
    width: 736px;
    height: 100px;
    margin-bottom: 20px;
    border: 0px;
    outline: none;
    background-color: #f3f3f3;
    color: #adadad;
    font-size: 24px;
    font-weight: 700; 
    border-radius: 61px;
    padding-left: 40px;
    font-family: "Comfortaa", sans-serif;
}
.ProfileHTML .s1__FULL input[type="password"]::-webkit-input-placeholder{
    color: #adadad;
    font-size: 24px;
    font-weight: 700; 
    font-family: "Comfortaa", sans-serif;
}
.ProfileHTML .s1__FULL input[type="email"]::-webkit-input-placeholder{
    color: #adadad;
    font-size: 24px;
    font-weight: 700; 
    font-family: "Comfortaa", sans-serif;
}
.ProfileHTML .VerifyButton{
    background: linear-gradient(90deg, #43A1D6 0%, #907EFF 100%);
    border-radius: 62px;
    margin-left: -260px;
    color: white;
    font-size: 24px;
    font-weight: 700;
    font-family: "Comfortaa", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 79px;
    margin-top: -20px;
    transition: 0.5s all;
}
.ProfileHTML .BeforeInputTextProfile{
    width: 214px;
    text-align: right;
    color: #3b3f8d;
    font-size: 24px;
    font-weight: 700;
    font-family: "Comfortaa", sans-serif;
    margin-right: 44px;
}
.ProfileHTML .InstructionsText{
    color: #bb6df3;
    font-size: 16px;
    font-weight: 700;
    font-family: "Comfortaa", sans-serif;
    margin: 31px 0 45px 50px;
}
.ProfileHTML .SaveProfileButton{
    background: linear-gradient(90deg, #43A1D6 0%, #907EFF 100%);
    border-radius: 62px;
    color: white;
    font-size: 24px;
    font-weight: 700;
    font-family: "Comfortaa", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 79px;
    transition: 0.5s all;
}
.ProfileHTML .GrayText{
    font-weight: 700;
    color: #adadad;
    font-size: 18px;
    font-family: "Comfortaa", sans-serif;
}



/*REGISTER__S1*/
.RegisterHTML .s1__FULL{
    width: 1920px;
    height: 1350px;
    background: url(../images/Register/BackGroundN.png) no-repeat;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: -160px;
}
.RegisterHTML .s1__FULL .NoRegisterDiv{
    display: flex;
    align-items: center;
    margin-left: -175px;
}
.RegisterHTML .s1__FULL h2{
    text-transform: uppercase;
    color: #3B668D; 
    font-size: 72px; 
    font-weight: 900; 
    letter-spacing: 0.405em; 
    font-family: "Roboto", sans-serif;
    margin-top: 80px;
}
.RegisterHTML .s1__FULL .FirstPSec3{
    color: #3b668d;
    font-size: 24px;
    font-weight: 400;
    line-height: 150%;
    text-transform: uppercase;
    letter-spacing: 0.905em;
    margin-top: 15px;
    margin-bottom: 88px;
}
.RegisterHTML .s1__FULL input[type="email"]{
    width: 630px;
    height: 100px;
    margin-bottom: 20px;
    border: 0px;
    outline: none;
    background-color: #f3f3f3;
    color: #adadad;
    font-size: 24px;
    font-weight: 700; 
    border-radius: 61px;
    padding-left: 40px;
    padding-right: 260px;
    font-family: "Comfortaa", sans-serif;
}
.RegisterHTML .s1__FULL input[type="password"]{
    width: 630px;
    height: 100px;
    margin-bottom: 20px;
    border: 0px;
    outline: none;
    background-color: #f3f3f3;
    color: #adadad;
    font-size: 24px;
    font-weight: 700; 
    border-radius: 61px;
    padding-left: 40px;
    font-family: "Comfortaa", sans-serif;
}
.RegisterHTML .s1__FULL input[type="password"]::-webkit-input-placeholder{
    color: #adadad;
    font-size: 24px;
    font-weight: 700; 
    font-family: "Comfortaa", sans-serif;
}
.RegisterHTML .s1__FULL input[type="email"]::-webkit-input-placeholder{
    color: #adadad;
    font-size: 24px;
    font-weight: 700; 
    font-family: "Comfortaa", sans-serif;
}
.RegisterHTML .s1__FULL .NoRegisterDiv p{
    width: 175px;
    color: #3b3f8d;
    font-family: "Comfortaa", sans-serif;
    text-align: right;
    font-weight: 700;
    font-size: 24px;
    margin-right: 45px;
}
.RegisterHTML .s1__FULL .RefreshIng{
    width: 42px;
    height: 42px;
    margin-left: 13px;
    display: flex;
    animation: rotating 2s infinite;
}
/*ANIMATION*/
@keyframes rotating {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.RegisterHTML .s1__FULL .RefreshIng:hover{
    cursor: pointer;
}
.RegisterHTML .s1__FULL input[type="text"]{
    width: 286px;
    height: 100px;
    margin-left: 31px;
    border: 0px;
    outline: none;
    background-color: #f3f3f3;
    color: #adadad;
    font-size: 24px;
    font-weight: 700; 
    border-radius: 61px;
    padding-left: 40px;
    font-family: "Comfortaa", sans-serif;
}
.RegisterHTML .s1__FULL input[type="text"]::-webkit-input-placeholder{
    color: #adadad;
    font-size: 24px;
    font-weight: 700; 
    font-family: "Comfortaa", sans-serif;
}
.RegisterHTML .RegisterButton{
    width: 350px;
    height: 79px;
    background: linear-gradient(90deg, #43A1D6 0%, #907EFF 100%);
    border-radius: 62px;
    color: white;
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s all;
}
.RegisterHTML .RegisterDiv p{
    margin-left: 10px;
    margin-right: 54px;
    color: #adadad;
    font-size: 18px;
    font-weight: 700;
    font-family: "Comfortaa", sans-serif;
}
.RegisterHTML .RegisterDiv{
    display: flex;
    align-items: center;
    margin-left: 70px;
}
/*END*/